<div class="container">
    <nav class="p-2 m-2 border border-info">
        <button *ngIf="authService.hasRole('ADMIN')" class="btn btn btn-outline-info" (click)="handleNewProduct()">New Product</button>
    </nav>
    <ng-template #errors >
        <div class="text-danger">
            {{errorMessage}}
        </div>
       
    </ng-template>
    <div class="card" *ngIf="products ; else errors">
        <div class="card-header"> Products List</div>
        <div class="card-body"> 
           
            <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()" >
                <div class="input-group">
                    <label class="input-group-text">Keyword:</label>
                    <input type="text" class="form-control"  formControlName="keyword">
                    <button class="btn btn-info">
                        <i class="bi bi-search"></i>
                    </button>
                </div>

            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th> <th>Name</th> <th>Price</th>
                    </tr>   
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">

                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td><i *ngIf="product.promotion==true" class="bi bi-heart-fill text-success"></i></td>
                    <td>
                        <button (click)="handlePromotion(product)" [ngClass]="product.promotion?'btn-danger':'btn-success'" class="btn">
                            <span *ngIf="product.promotion==true">Promo Off</span>
                            <span *ngIf="product.promotion==false">Promo On</span>
                        </button>
                    </td>
                    <td *ngIf="authService.hasRole('ADMIN')">
                        <button (click)="handleDeleteProduct(product)" class="btn btn-danger" >
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                    </tr>

                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li *ngFor="let item of [].constructor(this.totalPages);let i=index">
                    <a (click)="goToPage(i)" [ngClass]="i==currentPage?'btn-info':'btn-outline-info'" class="btn btn-outline-info ms-1 mt-1">{{i}}</a>
                </li>
            </ul>
        </div>
    </div>

</div>
